.wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px 20px;
    width: 80%;
    margin: 0 auto;
}
.item{   
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 5px;
    justify-content: center;
}
.item img{
    height: 290px;      

}
.item a{
    align-self: end;
}