.wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px 20px;
    width: 80%;
    margin: 0 auto;
}
.item{   
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: space-between;
}
.item img{
    height: 400px;
    object-fit: fill;
}
.item a{
    position: relative;
}
.item a::after{
    content:'';
    display: block;
    width:0;
    height:1px;
    background:#fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}
.item a:hover::after{
    width:70px;
}
